<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>QR code Generator</h1>
    <form action="/submit" method="post" class="container">
        <input type="url" name="URL" placeholder="Enter URL" required style="width: 60%; margin: 1.1rem; padding: 13px; border-radius: 12px;">
        <input type="submit" value="Submit" id="btn" style="width: fit-content; padding: 12px; border-radius: 5px;">
    </form>
    <div class="pic none container" id="pic">
        <img src="qr_img.png" alt="QRcode" width="250px">
        <a href="qr_img.png" download="">Download QR code</a>
    </div>

    <!-- <script>
        let btn = document.getElementById("btn");
        function toggle() {
            var element = document.getElementById("pic");
            element.classList.remove("none");
        }
        btn.addEventListener('click', toggle());
        btn.addEventListener('keypress', function (e) {
            if(e.key === 'ENTER') {
                toggle();
            }
            setTimeout(toggle(), 100000);
        })
    </script> -->
</body>
</html>